@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as function;

.times-outerBox {
  margin-bottom: 6px;
  position: relative;
  .time-innerBox {
    @include mix.bold_shadow;
    padding: vars.$margin-site;
    width: function.calculate-max-width(
      $brdr-wdt: calc(#{vars.$margin-site} + 4px)
    );

    .time-iconBubble {
      @include mix.title_pill(
        $bg-clr: vars.$primary-color,
        $tx-clr: vars.$text-alt-color,
        $padding: vars.$margin-xs
      );
      width: fit-content;
      aspect-ratio: 1;
      font-size: vars.$font-size-page-text;
      position: absolute;
      top: 0;
      left: 10px;
      transform: translateY(-50%);
    }
    .time-contentBox {
      .times-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 0;
        align-items: center;

        .times-row {
          display: grid;
          grid-template-columns: subgrid; // Zum verwenden der Spalten des Elternelements
          grid-column: 1 / -1; // Alle Spalten (von 1 bis Ende)
          padding: 0.5rem;
          border-radius: 4px;

          &:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.1);
          }

          .times-day {
            font-weight: vars.$primary-weight;
            color: vars.$primary-color;
            text-align: left;
          }

          .times-value {
            color: vars.$text-color;
            text-align: left;

            &.closed {
              color: vars.$highlight;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}
