@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as function;

$legal-gap: 2rem;

.contact-form {
  @include mix.bold_shadow;
  padding: vars.$margin-site;
  width: function.calculate-max-width(
    $shdw-sz: 14px,
    $brdr-wdt: vars.$border-width-st,
    $padding: 0px
  );

  form {
    button {
      font-size: vars.$font-size-page-text;
      background-color: vars.$primary-light-color;
      color: vars.$text-alt-color;
      border: 4px solid vars.$primary-color;
      border-radius: vars.$border-radius-st;
      padding: vars.$margin-xs;
      cursor: pointer;

      &:hover {
        box-shadow: inset 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
        background-color: vars.$highlight;

        // color: vars.$primary-color;
      }

      &:focus {
        border-color: vars.$highlight;
      }
    }

    fieldset {
      border: 4px solid grey;
      border-radius: vars.$border-radius-st;
      padding: vars.$spacing-10;
      margin-bottom: $legal-gap;

      legend {
        font-size: vars.$font-size-page-text;
        font-weight: vars.$font-weight-page-title-main;
        color: vars.$text-color;
        padding: 6px;
      }

      &.legal-fieldset {
        .form-info {
          flex-basis: calc(
            vars.$margin-main * 1.5
          ); // Gleiche Breite wie überall
        }
      }

      &.valid {
        border-color: #10b981;
        background-color: rgba(16, 185, 129, 0.05);
      }

      &.error {
        border-color: vars.$highlight;
      }

      .fieldset-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        .form-inputs {
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: $legal-gap;

          label {
            flex: 1;
            min-width: 200px;
            display: flex;
            flex-direction: column-reverse;
            font-size: vars.$font-size-page-figcaption;

            &.required span::after {
              content: " *";
              color: vars.$highlight; // Rot
              font-weight: 700;
              margin-left: 2px;
            }

            textarea {
              font-size: vars.$font-size-footer-nav;
              min-width: 200px;
              height: 100px;
              resize: none;
              padding: vars.$margin-xs;
              border: 4px solid vars.$text-color;
              // border-radius: vars.$border-radius-st;
              margin-bottom: 4px;

              &:focus {
                border-color: rgba(0, 0, 0, 0.5);
                background-color: rgba(16, 185, 129, 0.05);
              }

              &.valid {
                border-color: #10b981 !important; // Grün
                background-color: rgba(16, 185, 129, 0.05);
              }

              &.error {
                border-color: vars.$highlight;
                background-color: rgba(239, 68, 68, 0.05);
              }
            }

            input {
              font-size: vars.$font-size-footer-nav;
              min-width: 200px;
              padding: vars.$margin-xs;
              border: 4px solid vars.$text-color;
              // border-radius: vars.$border-radius-st;
              margin-bottom: 4px;

              &:focus {
                border-color: rgba(0, 0, 0, 0.5);
                background-color: rgba(16, 185, 129, 0.05);
              }

              &.valid {
                border-color: #10b981 !important; // Grün
                background-color: rgba(16, 185, 129, 0.05);
              }

              &.error {
                border-color: vars.$highlight;
                background-color: rgba(239, 68, 68, 0.05);
              }
            }
          }
        }

        .form-info {
          background-color: rgba(59, 59, 59, 0.12);
          padding: vars.$spacing-md;
          border-radius: 0px 5px 5px 0px;
          flex-basis: calc(vars.$margin-main * 1.5);

          &.error {
            background-color: #e9555569; // Halbtransparent rot

            // border: 2px solid #ef4444;
          }

          p {
            padding: 0;
            margin: 0;
            font-size: 0.86rem;
          }
        }
      }

      &.legal-fieldset {
        // border-color: #10b981;

        .fieldset-flex {
          .form-inputs {
            .accordion {
              // border: 2px solid orange;
              .accordion-item {
                border-radius: 4px;
                padding: 0px;
                border: 0px solid green;
                box-shadow: none;

                &:last-of-type {
                  margin-bottom: 0;
                }

                .accordion-title {
                  border-radius: 4px;
                  box-shadow: none;
                  /* h3 {
                    // color: orange;
                  } */
                }

                .accordion-content {
                  //border: 4px solid aqua;

                  > div {
                    flex-direction: column !important;
                  }
                  .legal-checkbox-wrapper {
                    // border: 4px solid red;
                    padding: 0 vars.$margin-site;
                    padding-bottom: vars.$margin-site;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: $legal-gap;

                    a {
                      color: vars.$text-color;
                      border: 4px solid vars.$primary-color;
                      border-radius: vars.$border-radius-st;
                      text-decoration: none;
                      background-color: vars.$secondary-light-color;
                      padding: vars.$margin-xs;

                      &:hover {
                        background-color: vars.$warning;
                        // color: vars.$primary-color;
                      }
                    }

                    .legal-checkbox {
                      display: flex;
                      flex-direction: row;
                      align-items: flex-start;
                      // justify-content: flex-start;
                      gap: 8px;
                      cursor: pointer;
                      border-top: 4px solid rgba(59, 59, 59, 0.12);
                      padding-top: $legal-gap;

                      .label-text {
                        flex: 1;
                        display: inline;
                        line-height: 1.5;
                      }

                      &.required .label-text::after {
                        content: "*";
                        color: #ef4444;
                        font-weight: 700;
                        margin-left: 2px;
                      }

                      input[type="checkbox"] {
                        flex-shrink: 0;
                        flex-grow: 0;
                        width: 20px;
                        height: 20px;
                        margin-top: 2px;
                        cursor: pointer;
                      }
                    }

                    .error-message {
                      color: vars.$highlight;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: vars.$breakpoint-xl) {
  .contact-form {
    width: function.calculate-max-width(
      $brdr-wdt: calc(#{vars.$margin-site} + 4px)
    );

    h4 {
      margin-top: 0;
    }

    form {
      fieldset {
        .fieldset-flex {
          flex-direction: column-reverse;

          .form-info {
            flex-basis: 0;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 0;
          }

          .form-inputs {
            flex-direction: column;

            label {
              width: 100%;

              .label-text {
                padding-left: vars.$spacing-10;
              }
            }
          }
        }

        &.legal-fieldset {
          border-color: purple;
          max-width: 100%;

          .fieldset-flex {
            .form-inputs {
              .accordion {
                .accordion-item {
                  width: 100%;
                  .accordion-title {
                    h3 {
                      color: purple;
                    }
                  }

                  .accordion-content {
                    padding: 0 vars.$margin-site;

                    div {
                      .legal-checkbox-wrapper {
                        padding: 0;

                        .legal-checkbox {
                          // flex-direction: column;
                          justify-content: flex-start;
                          gap: vars.$spacing-10;
                          // border: 2px solid green;
                          padding-bottom: $legal-gap;

                          input {
                            flex-basis: 20px;
                            min-width: 0;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
