@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.page-content {
    padding: vars.$margin-main;
    background-color: vars.$text-alt-color;
    overflow: hidden;
    border: 4px solid vars.$text-color;
    @include mix.bold_shadow;
    // color: vars.$text-alt-color;

    .flex-row {
        display: flex;
        margin: vars.$margin-main 0;
        gap: 2rem;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .flex-two-columns {
        justify-content: space-between;
        overflow: hidden;
        height: fit-content;
        align-items: center;

        .flex-item-right {
            order: 5;
        }

        .flex-item-left {
            order: -5;
        }
        
        > div, figure {
            // border: 2px solid hotpink;
            width: 50%;
            height: fit-content;
        }
    }
  

    .text-with-picture-right {
        justify-content: space-between;
        // margin: vars.$margin-site;
        // border: 2px inset lime;
        overflow: hidden;
        height: fit-content;
        align-items: center;

        .page-right {
            width: 45%;
            height: fit-content;
        }

        .text-left {
            padding-left: vars.$margin-site;
        }

        figure {
            // border: 2px solid green;

            img {
                width: 100%;
                aspect-ratio: 2 / 1;
                object-fit: cover;
                
            }

            figcaption {
                margin-right: vars.$margin-site;
            }
        }

        ul {
            // border: 2px solid hotpink;

            li {
                position: relative;
                padding-left: 2.2rem;
                margin: vars.$spacing-md 0;

                &::before {
                    content: "\f1cd";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    position: absolute;
                    left: 0;
                    top: 12%;
                    color: vars.$warning;
                    font-size: vars.$font-size-page-bullet;
                }
            }
        }
    }

    .text-with-card-left {
        align-items: flex-start;
        .card-left {
            width: 45%;
            background-color: vars.$text-alt-color;
            padding: vars.$margin-site;
            color: vars.$text-color;

            h3, h4 {
                color: vars.$highlight;
            }

            ul {
                li {
                    position: relative;
                    padding-left: 2.2rem;
                    margin: vars.$spacing-md 0;

                    &::before {
                        content: "\f14e";
                        font-family: "Font Awesome 6 Free";
                        font-weight: 900;
                        position: absolute;
                        left: 0;
                        top: 12%;
                        color: vars.$primary-color;
                        font-size: vars.$font-size-page-bullet;
                    }
                }
            }
        }

        .text-right {
            margin-right: vars.$margin-site;
            margin-top: vars.$margin-site;
        }

    }

    .full-width {
        h4 {
            margin-left: vars.$margin-site;
            margin-right: vars.$margin-site;
        }

        p {
            margin: 0 vars.$margin-site;
        }
    }

}