@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;
@use "../abstracts/functions" as function;

.paragraph {
    
    .alt {
        color: vars.$text-alt-color
    }

    .blue {
        color: vars.$primary-color;
    }

    .light-blue {
        color: vars.$primary-light-color;
    }

    .yellow {
        color: vars.$secondary-color;
    }

    .light-yellow {
        color: vars.$secondary-light-color;
    }

    .red {
        color: vars.$highlight;
    }

    .orange {
        color: vars.$warning;
    }
}