@use "../abstracts/variables" as vars;

.separation {
    margin-bottom: vars.$margin-site;
    height: vars.$margin-site;
    
    &--orange {    
        background-color: vars.$warning;
        height: inherit;
    }

    &--blue {
        background-color: vars.$primary-color;
    }

    &--lightBlue {
        background-color: vars.$primary-light-color;
    }
}