@use "../abstracts/variables" as vars;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin responsive($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: 600px) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: 900px) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: 1200px) { @content; }
    }
  }
  

@mixin background_pages($clr_bg: vars.$primary-light-color) {
  background-color: $clr_bg;
  padding: vars.$margin-site;
}

@mixin bold_shadow($rad:10px, $clr: vars.$text-color, $sz: vars.$shadow-size-st) {
  border-radius: $rad;
  box-shadow: $sz 0px 0px $clr;
  border: 4px solid vars.$text-color;
}