@use "../abstracts/variables" as vars;
@use "../abstracts/functions" as functions;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin responsive($breakpoint) {
    @if $breakpoint == sm {
      @media (max-width: 600px) { @content; }
    } @else if $breakpoint == md {
      @media (max-width: 900px) { @content; }
    } @else if $breakpoint == lg {
      @media (max-width: 1200px) { @content; }
    }
  }
  

@mixin background_pages($clr_bg: vars.$primary-light-color) {
  background-color: $clr_bg;
  padding: vars.$margin-site;
}

@mixin bold_shadow($rad:10px, $clr: vars.$text-color, $sz: vars.$shadow-size-st) {
  border-radius: $rad;
  box-shadow: $sz 0px 0px $clr;
  border: 4px solid vars.$text-color;
}

// Title 3D-Effect color selector:
@mixin text-shadow-3d($color) {
  color: $color;
  text-shadow: functions.calculate-text-shadows($color);
}

// letter-shadows:
@mixin letter-shadows($strg: 2px, $clr: vars.$text-color, $shdw-wth: vars.$shadow-size-sm, $shdw-clr: vars.$text-color) {
  padding: 1rem;
  -webkit-text-stroke: $strg $clr;
  text-shadow: 
    // (-$strg) (-$strg) 0 $clr, // top left
    // $strg (-$strg) 0 $clr, // top right
    // (-$strg) $strg 0 $clr, // bottom left
    // $strg $strg 0 $clr, // bottom right
    $shdw-wth 0 $shdw-clr;
}
