// Farben
$primary-color: #0F3F69;
$primary-light-color: #006176;
$secondary-color: #EEE655;
$secondary-light-color: #F9F2A6;
$warning: #F49C44;
$highlight: #E95555;

$text-color: #333;

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Fonts
$primary-font: mundial, sans-serif;
$primary-weight: 600;
$primary-style: normal;