// Farben
$primary-color: #0F3F69;
$primary-opacity-color: #0f3f69cc;
$primary-light-color: #006176;
$secondary-color: #EEE655;
$secondary-light-color: #F9F2A6;
$warning: #F49C44;
$highlight: #E95555;

$text-color: #0c0c0c;
$text-alt-color: #FBFBFF;

$border-color: #0c0c0c;
$border-width-st: 4px;
$border-width-sm: 2px;

$shadow-color: #3f3f3f;
$shadow-size-st: 6px 6px;
$shadow-size-sm: 3px 3px;


// Spacing
$spacing-xs: 1px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;

// Margin
$margin-site: 1.6rem;
$margin-main: 4.8rem;
$margin-xs: 0.6rem;

// Fonts
$primary-font: mundial, sans-serif;
$primary-style: normal;

// Fontweights
$primary-weight: 600;
$font-weight-page-title-main: 600;

// Fontsizes
$header-main-fs: 1.6rem;
$header-secondary-fs: 1.4rem;
$hero-main-fs: 4.0rem;
$hero-secondary-fs: 2.4rem;
$paragraph-standard: 1.2rem;
$font-size-page-title-main: 3.0rem;
$font-size-page-title-div: 2.2rem;
$font-size-page-text: 1.6rem;
$font-size-page-bullet: 1.6rem;
$font-size-page-figcaption: 1.2rem;
$font-size-footer-nav: 1.4rem;
$font-size-footer-title: 1.2rem;
