.home {
    // background-image: url("/heroImages/AdobeStock_548190067.jpeg");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}