@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mix;

.header {
    width: 100%;
    position: relative;
    display: flex;
  
    &--top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: transparent;
      z-index: 5;
      transition: background 0.4s ease-in-out;
    }

    &--top.scrolled {
      background: vars.$primary-color;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  
    &--bottom {
      position: fixed;
      bottom: 0; // Startet am unteren Rand
      left: 0;
      right: 0;
      // background: red;
      z-index: 4;
    //   transition: bottom 0.3s ease-in-out, transform 0.3s ease-out;
  
      &.sticky {
        top: 50px; // Dynamische Höhe kommt aus React
        bottom: auto;
        transform: none; // Kein weiteres Hochbewegen nach dem Kleben
      }
    }
}

// ----------

// header-top:

.headerContentTop {
  display: flex;
  justify-content: space-between;
  padding: vars.$margin-site;
}

.headerLogo {
  // margin: 1.5rem;
  width: fit-content;
  
  .headerLogoHitBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    justify-content: flex-start;
    width: fit-content;
    
    img {
      width: 110px;
      // aspect-ratio: 1;
    }
    
    p {
      font-family: vars.$primary-font;
      font-weight: vars.$primary-weight;
      font-size: 1.6rem;
      line-height: 1.2;
      
      color: vars.$secondary-light-color;
      .headerLogoCity {
        color: vars.$highlight;
        font-size: 1.4rem;
      }
      
      .headerLogoBrand {
        text-transform: uppercase;

      }

      b {
        color: vars.$highlight;

      }
    }
  }
}

.headerDropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerCardToggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;// Fixierte Größe
  height: 64px;
  background-color: vars.$secondary-color;
  color: vars.$primary-color;
  font-size: 2rem;
  @include mix.bold_shadow($sz: vars.$shadow-size-sm);

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.headerCardContent {
  position: absolute;
  top: calc(100% - 8px); // Direkt unter dem Button
  right: 0; // Immer bündig zur rechten Seite des Buttons
  width: fit-content; // Breite des Buttons übernehmen
  background-color: vars.$secondary-color;
  @include mix.bold_shadow($sz:vars.$shadow-size-sm);
  border-radius: 12px 0 12px 12px;
  overflow: hidden;
  padding: 1rem; // Abstand zum Inhalt
  z-index: 100;
}

// ----------
