@use "../abstracts/variables" as vars;

.page-content {
    padding: vars.$margin-main 0;
    background-color: vars.$primary-light-color;
    overflow: hidden;
    color: vars.$text-alt-color;
    font-family: vars.$primary-font;
    font-size: vars.$font-size-page-text;

    .flex-container {
        display: flex;
        margin: vars.$margin-main 0;

        &:first-of-type {
            margin-top: 0;
        }
    }

    .page-content-title {
        justify-content: center;
        text-align: center;
        h3 {
            font-size: vars.$font-size-page-title-main;
            font-weight: vars.$font-weight-page-title-main;
            margin-bottom: vars.$margin-site;
        }
    }

    .page-two-columns {
        justify-content: space-between;
        // margin: vars.$margin-site;
        // border: 2px inset lime;
        overflow: hidden;
        height: fit-content;
        align-items: center;

        .page-right {
            width: 50%;
            height: fit-content;
        }

        .page-left {
            padding-left: vars.$margin-site;
        }

        h4 {
            font-weight: vars.$font-weight-page-title-main;
            font-size: vars.$font-size-page-title-div;
            margin-bottom: vars.$margin-site;
        }

        img {
            width: 100%;
            aspect-ratio: 2 / 1;
            object-fit: cover;

        }

        ul {
            // border: 2px solid hotpink;

            li {
                position: relative;
                padding-left: 2.2rem;
                margin: vars.$spacing-md 0;

                &::before {
                    content: "\f1cd";
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    position: absolute;
                    left: 0;
                    top: 12%;
                    color: vars.$warning;
                    font-size: vars.$font-size-page-bullet;
                }
            }
        }
    }

}