@use "../abstracts/variables" as vars;

// Standard-Typographie:
body {
    font-family: vars.$primary-font;
    font-weight: vars.$primary-weight;
    font-style: vars.$primary-style;
    font-size: 16px;
}